html {
    height: 100%;
}

@font-face {
    font-family: 'HACKED';
    src: url('HACKED.ttf'); 
}

@keyframes bg-animate {
    from {
        background-size: 115% auto;
    }

    to {
        background-size: 100% auto;
    }
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text {
    font: 25px bold, HACKED;
    font-size: 70px;
}

.upper {
    text-transform: uppercase;
}

.meta {
    text-align: right;
    display: block;
    color: #ddd;
    font-family: sans-serif;
    font-size: 10px;
}

a {
    display: inline-block;
    padding: 4px;
    outline: 0;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    background: #2C92F5;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    color: #eee;
    text-decoration: none;
    padding-left: 16px;
    line-height: 18px;
    font-weight: normal;
    border: 1px solid transparent;
    background: #000000 url('data:image/gif;base64,R0lGODlhDQAKAKIAAAAAAP///x6Q/4yMjFRUVP///wAAAAAAACH5BAEAAAUALAAAAAANAAoAAAMfWLrcLMKVMZQgsdFabmabQmAaJZJL2KEp50kLBM9FAgA7') no-repeat left center;
    text-align: left;
}

a:hover {
    display: inline-block;
    padding: 4px;
    outline: 0;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    background: #3e3e3e;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-transform: scale(1.05) rotate(-1deg);
    -moz-transform: scale(1.05) rotate(-1deg);
    -o-transform: scale(1.05) rotate(-1deg);
    transform: scale(1.05) rotate(-1deg);
    color: #ffffff;
    text-decoration: none;
    padding-left: 16px;
    line-height: 18px;
    font-weight: normal;
    border: 1px solid #0090ff;
    background: #000000 url(http://dragon-css.ucoz.ru/imgg/8.gif) no-repeat left center;
    text-align: left;
}

#hello{
    padding-top:10%;
}
